* {
    font-family: 'Poppins', sans-serif;
}

.BookingInfo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.Header {
    flex: 0 0 auto; /* Ensure the header takes up only as much space as it needs */
}

.main-content {
    display: flex;
    flex: 1; /* Take up the remaining space */
}

.sidebar-placeholder {
    width: 20%; /* Adjust the width as needed */
}

.booking-details {
    flex: 1; 
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    background-color: #FFFFFF; 
}

.booking-details_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking h2 {
    margin-left: 20px;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.back-icon {
    left: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.booking-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 40%;
}

.submitReqs-button, .edit-button, .assess-button, .approve-button, .deny-button {
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background-color: #2F3B8D;
    color: white;
    border: none;
}

.submitReqs-button, .assess-button {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #FFD80C;
}

.submitReqs-button:hover, .assess-button:hover {
    background-color: #FFD80C;
    color: #000000;
    border: 1px solid #FFD80C;
}

.approve-button {
    background-color: #66C17A;
    color: #000000;
    border: 1px solid #66C17A;
}

.approve-button:hover {
    background-color: #FFFFFF;
    color: #66C17A;
    border: 1px solid #66C17A;
}

.deny-button {
    background-color: #952424;
    color: #FFFFFF;
    border: 1px solid #952424;
}

.deny-button:hover {
    background-color: #FFFFFF;
    color: #952424;
    border: 1px solid #952424;
}

.cancel-button {
    background-color: #FFFFFF;
    color: #FF0000;
    border: 1px solid #FF0000;
    padding: 10px 20px;
    margin: 20px 40px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #F5F5F5;
    color: #2F3B8D;
    border: 1px solid #2F3B8D;
}

.cancel-button:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

.edit-button:active {
    background-color: #F5F5F5;
}

.cancel-button:active {
    background-color: #FF0000;
    color: #FFFFFF;
}

.booking-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100px;
}

.event-info, .other-info, .submit-info, .update-logs, .cause-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
}

.event-info h3, .other-info h3, .submit-info h3, .update-logs h3 {
    font-size: 32px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    color: #837118;
    background-color: #FFF3B4;
    border-radius: 5px;
    padding: 5px 10px;
}

.event-info .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 26px;
    padding: 10px 10px;
}

.other-info .content, .items-column, .equipment-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 26px;
    padding: 5px 10px;
    margin-right: 20px;
}

.labels {
    text-align: left;
    font-weight: 600;
}

.values {
    text-align: right;
    font-weight: 400;
}

.submit-info .req-title, .submit-info .date-title, .submit-info .file-title {
    color: #837118;
}

.reqs-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures even spacing */
}

.reqs-table-header th {
    text-align: left;
    padding: 15px;
    font-weight: bold;
    background: none; 
    font-size: 24px;
}

.reqs-table tbody tr {
    background: white;
    border: 1px solid #ccc; 
    padding: 15px;
    width: 100%;
}

.reqs-table tbody tr td {
    padding: 10px;
    text-align: left;
    width: 33.33%; 
}

.submit-info .file .file-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #BD5151;
}

.submit-info .file-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background: #E4E2E2;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.submit-info .file-info {
    display: flex;
    flex-grow: 1; 
    min-width: 0; 
    flex-direction: column;
}

.submit-info .file-info h4 {
    font-size: 16px;
    font-weight: 400;
    color: #445CFF;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.submit-info .file-info p {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

.logs {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.log {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 26px;
    padding: 15px 15px;
    border: 1px solid #ccc;
}

.logs h5 {
    font-size: 18px;
    border-radius: 5px;
    right: 0;
}

.logs p {
    font-size: 16px;
    text-align: right;
}

.cause-info h3 {
    font-size: 32px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    color: #952424;
    background-color: #FFD8D8;
    border-radius: 5px;
    padding: 5px 10px;
}

.cause-info h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
}

.cause-info p {
    font-size: 16px;
    padding: 5px 10px;
}

.cause-info .reason {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}