* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.dropdown {
    min-width: 15em;
    position: relative;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background-color: #FFFFFF;
    color: #2F3B8D;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 1px solid #2F3B8D;
    box-shadow: 0 0 0.8em rgba(47, 59, 141, 0.2);
}

.select:hover {
    background: #F5F5F5;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2F3B8D;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #FFFFFF;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #2F3B8D;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    max-height: 13em;
    overflow-y: scroll;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: left;
}

.menu li:hover {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}

.menu::-webkit-scrollbar-track {
    background-color: #ccc;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #2F3B8D;
    border-radius: 10px;
}

.menu::-webkit-scrollbar-thumb:hover {
    background-color: #E0E0E0;
}

.active {
    background-color: #F5F5F5;
}

.menu-open {
    display: block;
    opacity: 1;
}