.Homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Header {
    flex: 0 0 auto; /* Ensure the header takes up only as much space as it needs */
}

.main-content {
    display: flex;
    flex: 1; /* Take up the remaining space */
}

.sidebar-placeholder {
    width: 20%; /* Adjust the width as needed */
}

.overview {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-left: 20px;
    background-color: #FFFFFF; 
    overflow-y: auto;
}

.overview-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 98%;
    padding: 10px 20px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
}

.search-bar input {
    padding: 10px 40px 10px 10px; 
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
}

.search-icon {
    position: absolute;
    right: 15px;
    color: #ccc;
    cursor: pointer;
}

.filters {
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    margin-top: 5px;
    margin-left: 30px;
}

.filter-label {
    font-size: 15px;
    color: #1F1D1D;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px; 
}


.booking-item {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 97%;
    height: 170px;
    border: 1px solid #9C9C9C;
    border-radius: 5px;
}

.booking-item:hover {
    background-color: #F5F5F5;
}

.details h2 {
    font-size: 36px;
    color: #1F1D1D;
    font-family: 'Poppins', sans-serif;
}

.details p {
    font-size: 18px;
    color: #1F1D1D;
    font-family: 'Poppins', sans-serif;
}

.status {
    margin-left: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
}

.faci-code h3 {
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #656262;
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.status-label {
    display: inline-block;
    font-size: 18px;
    color: #474343;
    font-family: 'Poppins', sans-serif;
    width: auto;
    background-color: #B3FFA6;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
}