* {
    font-family: 'Poppins', sans-serif;
}

.BookingInfo {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Header {
    flex: 0 0 auto; /* Ensure the header takes up only as much space as it needs */
}

.main-content {
    display: flex;
    flex: 1; /* Take up the remaining space */
}

.sidebar-placeholder {
    width: 20%; /* Adjust the width as needed */
}

.booking-details {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    background-color: #FFFFFF; 
}

.booking-details_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking h2 {
    margin-left: 20px;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.back-icon {
    left: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.booking-buttons {
    display: flex;
    width: 40%;
}

.submit-button, .edit-button {
    width: 300px;
    margin-left: 20px; 
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background-color: #2F3B8D;
    color: white;
    border: none;
}

.submit-button {
    background-color: #FFFFFF;
    color: #1F1D1D;
    border: 1px solid #FFD80C;
}

.edit-button:hover {
    background-color: #F5F5F5;
}

.submit-button:hover {
    background-color: #FFD80C;
    color: #FFFFFF;
}

.edit-button:active {
    background-color: #F5F5F5;
}

.submit-button:active {
    background-color: #FFD80C;
    color: #FFFFFF;
}

.booking-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-color: #1F1D1D;
}

.event-info, .other-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.event-info h3, .other-info h3 {
    font-size: 32px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    color: #837118;
    background-color: #FFF3B4;
    border-radius: 5px;
    padding: 5px 10px;
}

.event-info .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px 10px;
}

.other-info .content, .items-column, .equipment-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    padding: 5px 10px;
    margin-right: 20px;
}

.labels {
    text-align: left;
    font-weight: 600;
}

.values {
    text-align: right;
    font-weight: 400;
}

