* {
    font-family: 'Poppins', sans-serif;
}

.SubmitReqs {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Header {
    flex: 0 0 auto; /* Ensure the header takes up only as much space as it needs */
}

.main-content {
    display: flex;
    flex: 1; /* Take up the remaining space */
}

.sidebar-placeholder {
    width: 20%; /* Adjust the width as needed */
}

.main-content .submit-reqs {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 90px 40px 15px 40px;
    background-color: #FFFFFF; 
    overflow-y: auto;
}

.submit-reqs .submit-reqs_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.submit-reqs_header .booking-id {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.submit-reqs_header .booking-id h2 {
    margin-left: 20px;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.back-icon {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.upload-file {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px 30px;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    color: #191A1B;
}

.submit-reqs_table .reqs-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

.submit-reqs_table .reqs-table-header th {
    text-align: left;
    padding: 15px;
    font-weight: bold;
    background-color: #B0B6DA; 
    color: #2F3B8D;
    font-size: 24px;
}

.submit-reqs_table .reqs-table tbody tr {
    background: white;
    border: 1px solid #ccc; 
    padding: 15px;
    width: 100%;
}

.submit-reqs_table .reqs-table tbody tr td {
    padding: 10px;
    text-align: left;
    width: 33.33%; 
}

.submit-reqs_table .file .file-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #BD5151;
}

.submit-reqs_table .file-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background: #E4E2E2;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.submit-reqs_table .file-info {
    display: flex;
    flex-grow: 1; 
    min-width: 0; 
    flex-direction: column;
}

.submit-reqs_table .file-info h4 {
    font-size: 16px;
    font-weight: 400;
    color: #445CFF;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.submit-reqs_table .file-info p {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-btn {
    width: 100%;
    height: 300px;
    font-size: 18px;
    font-weight: 500;
    color: #2F3B8D;
    background-color: #F5F5F5;
    border: 2px dashed #2F3B8D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.file-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000000;
    background-color: #F5F5F5;
    padding: 8px 15px;
}

.file-card .file-upload-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.file-card .file-upload-info h4 {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    color: #2F3B8D;
    text-overflow: ellipsis;
}

.file-card .cancel-icon, .file-card .check-icon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F3B8D;
    background-color: #D5D7E8;
    border-radius: 50% ;
    cursor: pointer;
}

.file-card .cancel-upload {
    border: none;
}

.file-upload-info .progress-bar {
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.076);
    border-radius: 8px;
    margin-top: 3px;
    overflow: hidden;
}

.progress-bar .file-progress {
    height: 5px;
    background-color: #2F3B8D;
    border-radius: 8px;
    width: 0%;
    max-width: 100% !important;
    transition: width 0.5s ease;
}

.file-card .pdf-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #BD5151;
}

.upload-btn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background-color: #2F3B8D;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #F5F5F5;
    color: #2F3B8D;
}

.file svg {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #BD5151;
}

.file .file-details {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.file-details h4 {
    font-size: 16px;
    font-weight: 400;
    color: #445CFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.file-details p {
    font-size: 10px;
    font-weight: 400;
}

.upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F3B8D;
}





