* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --radio-border-color: #000000;
    --radio-checked-color: #2F3B8D;
    --radio-hover-color: #bcc3f0;
    --radio-disabled-bg-color: #d9d9d9;
  }

.VenueBooking {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Header {
    flex: 0 0 auto; /* Ensure the header takes up only as much space as it needs */
}

.main-content {
    display: flex;
    flex: 1; /* Take up the remaining space */
}

.sidebar-placeholder {
    width: 20%; /* Adjust the width as needed */
}

.booking-details {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    background-color: #FFFFFF; 
}

.booking-details_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking h2 {
    margin-left: 20px;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.booking h3 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
}

.back-icon {
    left: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.venue-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.other-input, .requirement-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
}

.venue-input h3, .other-input h3, .requirement-input h3 {
    font-size: 32px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    color: #837118;
    background-color: #FFF3B4;
    border-radius: 5px;
    padding: 5px 10px;
}

.venue-input .content, .other-input .content, .requirement-input .content {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    width: 100%;
}

.venueInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.venueInfo form {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
}

.venueInfo label {
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
}

.venueInfo input {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

.other-input .content, .items-column, .equipment-column, .status-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    padding: 5px 10px;
    margin-right: 20px;
}

.labels, .pencil-booking, .official-booking {
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 26px;
}

.values, .official-booking, .pencil-booking {
    text-align: right;
    font-weight: 400;
}

.form-control {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

input[type="radio"] {
    width: 24px;
    height: 24px;
    margin: 6px;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid var(--radio-border-color);
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
}

input[type="radio"]:not(:disabled):checked {
    border-color: var(--radio-checked-color);
    background-color: var(--radio-checked-color);
    background-clip: content-box;
    padding: 2px;
    background-image: radial-gradient(
      circle,
      var(--radio-checked-color) 0%,
      var(--radio-checked-color) 50%,
      transparent 60%,
      transparent 100%
    );
}

input[type="radio"]:disabled {
    background-color: var(--radio-disabled-bg-color);
}
  
input[type="radio"]:disabled:checked {
    background-image: radial-gradient(
      circle,
      var(--radio-border-color) 0%,
      var(--radio-border-color) 50%,
      transparent 50%,
      transparent 100%
    );
}

@media (hover: hover) {
    input[type="radio"]:not(:disabled):hover {
      background-color: var(--radio-hover-color);
      outline: 6px solid var(--radio-hover-color);
    }
}

input[type="radio"]:focus-visible {
    background-color: var(--radio-hover-color);
    outline: 6px solid var(--radio-hover-color);
}


