.Calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.venue-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.venue-titles h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.venue-name {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid #1F1D1D;
    padding: 10px 10px;
    border-radius: 10px 10px 0 0;
}

.venue-name:hover {
    background-color: #FFF3B4;
    cursor: pointer;
}

.venue-name:active {
    background-color: #FFF3B4;
    cursor: pointer;
}

.venue-calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #1F1D1D;
    border-radius: 0 0 10px 10px;
}

.week-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 15px;
    font-size: 20px;
}

.week-days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.day-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
    text-align: center;
    width: 160px;
    height: 120px;
    border: 1px solid #1F1D1D;
    overflow: auto;
}

.day-title {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.day-title h3 {
    font-size: 20px;
    text-align: center;
}

.day-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.event-id {
    padding: 5px 10px;
}

.event {
    border-radius: 5px;
    font-weight: 400;
}