* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #2F3B8D;
    border-radius: 10px;
    height: 300px;
    width: 100%;
    margin: 20px 0;
    cursor: pointer;
}

.file .file-icon {
    width: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.file .file-item {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.file-item h4 {
    font-size: 16px;
    font-weight: 400;
    color: #445CFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-item p {
    font-size: 10px;
    font-weight: 400;
}

.upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F3B8D;
}

.uploaded-file .pdf-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-right: 10px;
}

.uploaded-file .delete-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-left: 10px;
}

.uploaded-file {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.uploaded-file span {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.file-input .upload-button {
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background-color: #2F3B8D;
    color: white;
    border: none;
    margin-top: 10px;
}

.file-input .cancel-button {
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
    color: #FF0000;
    border: 1px solid #FF0000;
    margin-top: 10px;
}

.file-input .upload-button:hover {
    background-color: #F5F5F5;
    color: #2F3B8D;
}

.file-input .cancel-button:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

