:root {
    --line-border-fill: #FFDC5E;
    --line-border-empty: #ccc;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 1200px;
    padding: 2rem 2rem;
    overflow-x: hidden;
}

.progress-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    position: relative;
}

.progress-container::before {
    content: '';
    position: absolute;
    background-color: #ccc;
    height: 7px;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%); 
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    z-index: 1;
    transition: all 0.8s ease-in;
}

.progress-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.circle {
    background-color: #ccc;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.circle.active {
    border-color: var(--line-border-empty);
    color: #FFFFFF;
    background-color: var(--line-border-fill);
}


