.table-content .req {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 15px 15px;
    border: 1px solid #ccc;
}

.req div {
    flex: 1;
    margin-right: 330px;
}

.req div:last-child, .table-header div:last-child {
    margin-right: 0;
}

.req .file {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 200px;
    background-color: #F5F5F5;
    line-height: 1.3;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-btn {
    width: 100%;
    height: 300px;
    font-size: 18px;
    font-weight: 500;
    color: #2F3B8D;
    background-color: #F5F5F5;
    border: 2px dashed #2F3B8D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.file-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000000;
    background-color: #F5F5F5;
    padding: 8px 15px;
}

.file-card .file-info {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;
}

.file-card h4 {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    color: #2F3B8D;
    text-overflow: ellipsis;
}

.file-card .close-icon, .file-card .check-circle {
    width: 36px;
    height: 36px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #2F3B8D;
    background-color: #ccc;
    border-radius: 50%;
}

.file-card .progress-bar {
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.076);
    border-radius: 8px;
    margin-top: 8px;
}

.file-card .progress {
    width: 0%;
    height: 5px;
    background-color: #2F3B8D;
    border-radius: 8px;
    transition: width 0.5s ease;
}

.close-icon {
    font-size: 18px;
    cursor: pointer;
}

.upload-btn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background-color: #2F3B8D;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #F5F5F5;
    color: #2F3B8D;

}

.file svg {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #BD5151;
}

.file .file-details {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.file-details h4 {
    font-size: 16px;
    font-weight: 400;
    color: #445CFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.file-details p {
    font-size: 10px;
    font-weight: 400;
}

.upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F3B8D;
}




