/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    height: 80vh;
    overflow: auto;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header h2 {
    margin-bottom: 10px;
  }
  
  .close-icon {
    cursor: pointer;
    font-size: 30px;
    color: #333;
  }
  
  .close-icon:hover {
    color: red;
  }

  ol {
    padding-left: 20px; 
  }
  
  ol li {
    margin-bottom: 15px; 
  }
  
  ol li p {
    margin-left: 20px; 
  }

  ul li {
    margin-bottom: 0px; 
    margin-left: 25px;
  }